:host {
  header {
    background-color: var(--primary);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;

    &,
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
    }

    ul {
      gap: 24px;
      
      li {
        font-weight: 500;
        font-size: 14px;

        &,
        a {
          color: var(--text-menu);
          text-decoration: none;
          transition: opacity 0.2s;
          
          &:hover {
            opacity: 0.8;
          }
        }

        &:last-child {
          button {
            display: flex;
            img {
              width: 24px;
            }
          }
        }
      }
    }
  }
}